# Binary files
src/textEngine
src/gtkGui/textEngineGTK

# Others
*~
/doc/doxygen

# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
